# Copy this file to .env and fill in real values. Do not check your .env into source control.
DB_URL=jdbc:mysql://employee.cl8usi6825h1.us-east-2.rds.amazonaws.com:3306/employee
DB_USER=Akshay
DB_PASS=Akshay2002
